<h1>New Comment</h1>

<div class="row justify-content-md-center">
  <%= form_for Comment.new do |f| %>
    <%= f.hidden_field :photo_id %>
    <%= f.text_area :body, class: "form-control", placeholder: "Enter your comment" %>
    <div class="input-group-append">
      <%= f.submit "Enter", class: "btn btn-secondary" %>
    </div>
    <% end %>
</div>

