<div class="container users">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 style="text-align: center">Follow New Friends</h1>
      <br>
      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item align-items-center">
            <% if user.avatar.attached? %>
              <span><img class="card-img-top" id="avatar" src="<%= url_for(user.avatar) %>"></span>
            <% end %>
            <%= user.username %>
            <% if current_user.following?(user) %>
              <%= link_to "Unfollow", relationship_path(id: user.id), method: :delete, class: "btn btn-outline-danger" %>
            <% else %>
              <%= link_to "Follow", relationships_path(followed_id: user), method: :post, class: "btn btn-primary" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<div>


