h1 {
  text-align: center;
  padding: 20px;
}

form {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 30px;
  min-width: 500px;
}

button {
  padding: 20px;
}

.navbar {
  margin-bottom: 10px;
}
